#user-detail-div{
	background-color: #000000;
	height: 850px;
}

#user-fields{
	margin-top: 320px;
	color: #FFFFFF;
}

#user-name{
	text-align: center;
}

#sidebar{
	background-color: #E0E0E0;
	height: 770px;
	color: #000000;
}

#content{
	background-color: #1D1E1A;
	height: 770px;
	color: #FFFFFF;
	padding-left: 0px;
}

.chat-msg{
	padding-left: 15px;
	background-color: #1D1E1A;
	color: #FFFFFF;
	border: none;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#chat-bar{
	background-color: #464646;
	height: 60px;
}

#online-count{
	color: #FFFFFF;
	margin-top: 15px;
}

#user-msg{
	margin-top: 10px;
	background-color: #FFFFFF;
	height: 30px;
	margin-left: 4.666667%;
}

.send{
	background-color: #323232;
	border: 1px solid #000000;
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 1%;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: #000000;
	color: #FFFFFF;
	border: 1px solid #464646;
}

.nav-tabs{
	border: 1px solid #464646;
	margin-bottom: 15px;
}

.sidebar-list{
	margin-top: 15px;
}

.links, .links:focus, .links:hover{
	color: #000000;
	text-decoration: none;
}

.items{
	margin-left: 25px;
}

.arrow{
	color: #464646;
}

.online-user-name{
	margin-bottom: 0px;
	color: #464646;
}

.line{
	color: #464646;
}

.room-name{
	/*red*/
	color: #DF3963;
}

.user-name{
	/*green*/
	color: #A4C629;
}

.typing-text{
	/*orange*/
	color: #F6B327;
}