doctype html
html(lang="en")
	head
		title= "Real time chat"
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(type='text/javascript', src="https://code.jquery.com/jquery-1.9.1.min.js")
		script(src='js/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/bootstrap.min.js')
		link(rel='stylesheet' href='css/bootstrap.min.css')
		link(rel='stylesheet' href='css/styles.css')
	body
		
		#user-detail-div
			.controls
				| Name 
				input.field(style='width:350px;', id="user-name")
				input.send(type="button", value="Enter", id="contact-submit")
		#chat-div
			.container-fluid
				.row
					#sidebar.col-md-2
						.sidebar-list
							a.links(data-toggle="collapse", href="#online-users" aria-expanded="false" aria-controls="collapseExample1")
								span.glyphicon.glyphicon-triangle-right.arrow Online users
							div#online-users.collapse.items
							br
							a.links(data-toggle="collapse", href="#rooms" aria-expanded="false" aria-controls="collapseExample2")
								span.glyphicon.glyphicon-triangle-right.arrow Rooms
							div#rooms.collapse.items
					#content.col-md-10
						ul.nav.nav-tabs
							li.active
								a(href="#" id="current-room") General
				.row#chat-bar
					input.field(id="user-msg" class="col-md-8")
					input.send(type="button", value="Send", id="send" class="col-md-1")