doctype html
html(lang="en")
	head
		title= "Real time chat"
		script(type='text/javascript', src="https://code.jquery.com/jquery-1.9.1.min.js")
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		
		#user-detail-div
			.controls
				| Name 
				input.field(style='width:350px;', id="user-name")
				input.send(type="button", value="Enter", id="contact-submit")
		#chat-div
			#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
			.controls
				input.field(style='width:350px;', id="user-msg")
				input.send(type="button", value="Send", id="send")
			br
			br
			| Rooms:
			#rooms