doctype html
html(lang="en")
	head
		title= "Real time chat"
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(type='text/javascript', src="https://code.jquery.com/jquery-1.9.1.min.js")
		script(src='js/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/bootstrap.min.js')
		link(rel='stylesheet' href='css/bootstrap.min.css')
		link(rel='stylesheet' href='css/styles.css')
	body
		
		div#user-detail-div
			div#user-fields.col-md-4.col-md-offset-4
				.form-group
					input.form-control(id="user-name", placeholder="Enter your name")
			div.col-md-2.col-md-offset-5
				.form-group
					input.form-control(type="button", value="Connect", id="contact-submit")
		#chat-div
			.container-fluid
				.row
					#sidebar.col-md-2
						.sidebar-list
							a.links(data-toggle="collapse", href="#online-users" aria-expanded="false" aria-controls="collapseExample1")
								span.glyphicon.glyphicon-triangle-right.arrow Online users
							div#online-users.collapse.items
							br
							a.links(data-toggle="collapse", href="#rooms" aria-expanded="false" aria-controls="collapseExample2")
								span.glyphicon.glyphicon-triangle-right.arrow Rooms
							div#rooms.collapse.items
					#content.col-md-10
						ul.nav.nav-tabs
							li.active
								a(href="#" id="current-room") General
						#all-chats
				.row#chat-bar
					span#online-count.col-md-2
					input.field(id="user-msg" class="col-md-8")
					input.send(type="button", value="Send", id="send" class="col-md-1")

